
<!-- <div id="left-side">
  <div id="header">
  </div>
  <div id="body">
    <% ["how-it-works", "contribute", "submissions", "buffer", "about"].each do |class_name| %>
      <div class="row <%= class_name %>">
      </div>
    <% end %>
  </div>
</div> -->
<div id="wrapper">
<div id="header">
  <ul id="navigation">
    <li><%= link_to "How It works", "#how-it-works" %></li>
    <li><%= link_to "Contribute", "#contribute" %></li>
    <li><%= link_to "Submissions", "#submissions" %></li>
    <li><%= link_to "About", "#about" %></li>
<!--     <li><%= link_to "Press", "#press" %></li> -->
  </ul>
  <div style="clear:both"></div>
  <div id="title-area">
    <%= link_to "install plugin", "javascript:void(0)", :id => "install-plugin" %>
    <div id="title">Internetiquette</div>
    <div id="tagline">Making the internet more polite, one line at a time.</div>
  </div>
  <div style="clear:both"></div>
</div>
<div id="body">
  <div class="row how-it-works">
    <div class="caption">
      <h2><a name="how-it-works">How It works:</a></h2>
      Internetiquette is a browser plugin that converts internet rudeness to into polite statements. Crowd-sourced submissions.
    </div>
    <div class="other">
      <div class="step">
        <h2>Download Plugin</h2>
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
      <div class="step">
        <h2>Enable Extension</h2>
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
      <div class="step">
        <h2>Marvel at Politeness</h2>
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
    </div>
  </div>
  <div class="row contribute">
    <div class="caption">
      <h2><a name="contribute">Contribute:</a></h2>
    </div>
    <div class="other">
      <%= form_for @mapping do |f| %>
        <%= f.text_field :bad_phrase, :placeholder => "Rude Phrase" %>
        <%= f.text_field :good_phrase, :placeholder => "Polite Phrase" %>
        <%= hidden_field_tag :back_to, request.fullpath %>
        <%= link_to "submit", "javascript:void(0)", :id => "submit", :onclick => '$("form").submit()' %>
        <%#= f.submit "Submit", :id => "submit" %>
      <% end %>
    </div>
  </div>
  <div class="row submissions">
    <div class="caption">
      <h2><a name="submissions">Submissions:</a></h2>
      <%= @mappings.count %> and counting
    </div>
    <div class="other">
      <dl id="submissions_list">
        <% @mappings.each do |mapping| %>
          <dt><%= obfuscate mapping.bad_phrase.value %></dt>
          <dd><%= mapping.good_phrase.value %></dd>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row buffer">
    <div class="caption"></div>
    <div class="other"></div>
  </div>
  <div class="row about">
    <div class="caption">
      <h2><a name="about">About<br/>The Project</a></h2>
    </div>
    <div class="other">
      <div class="content">
        Internetiquette is a weekend project done by Charles and Magnus at HQ, Brooklyn and is inspired by the idea that the internet needn't bring out the worst in all of us.
      </div>
    </div>
  </div>
<!--
  <div class="row press">
   <div class="press">
    <h2><a name="press">Press</a></h2>
  </div>
  <div class="press">
    <div>
      <p>
        Suspendisse non commodo elit, a convallis libero. Nam porta, justo et convallis sagittis, arcu ante porttitor mauris, nec feugiat mi orci elementum
      </p>
      <div>- Jesse Lochrie</div>
    </div>
  </div> </div>-->
  </div>
</div>
<!-- <div id="right-side">
</div> -->