<div id="header">
  <ul id="navigation">
    <li><%= link_to "How It works", "#how-it-works" %></li>
    <li><%= link_to "Contribute", "#contribute" %></li>
    <li><%= link_to "Submissions", "#submissions" %></li>
    <li><%= link_to "About", "#about" %></li>
<!--     <li><%= link_to "Press", "#press" %></li> -->
  </ul>
  <br style="clear:both"/>
  <div id="title-area">
    <div id="title">Internetiquette</div>
    <div id="tagline">Making the internet more polite, one line at a time.</div>
  </div>
</div>
<dl id="onepager">
  <dt class="how-it-works">
    <h2><a name="how-it-works">How It works:</a></h2>
    Internetiquette is a browser plugin that converts internet rudeness to into polite statements. Crowd-sourced submissions.
  </dt>
  <dd class="how-it-works">
    <div class="step">
      <h2>Download Plugin</h2>
      <%= image_tag 'circlePlaceholder.png' %>
    </div>
    <div class="step">
      <h2>Enable Extension</h2>
      <%= image_tag 'circlePlaceholder.png' %>
    </div>
    <div class="step">
      <h2>Marvel at Politeness</h2>
      <%= image_tag 'circlePlaceholder.png' %>
    </div>
  </dd>
  <dt class="contribute">
    <h2><a name="contribute">Contribute:</a></h2>
  </dt>
  <dd class="contribute">
    <%= form_for @mapping do |f| %>
      <%= f.text_field :bad_phrase, :placeholder => "Rude Phrase" %>
      <%= f.text_field :good_phrase, :placeholder => "Polite Phrase" %>
      <%= hidden_field_tag :back_to, request.fullpath %>
      <%= f.submit "Submit" %>
    <% end %>
  </dd>
  <dt class="submissions">
    <h2><a name="submissions">Submissions:</a></h2>
    <%= @mappings.count %> and counting
  </dt>
  <dd class="submissions">
    <dl id="submissions_list">
      <% @mappings.each do |mapping| %>
        <dt><%= mapping.bad_phrase.value %></dt>
        <dd><%= mapping.good_phrase.value %></dd>
      <% end %>
    </ul>
  </dd>
  <dt class="buffer"></dt>
  <dd class="buffer"></dt>
  <dt class="about">
    <h2><a name="about">About<br/>The Project</a></h2>
  </dt>
  <dd class="about">
    <div class="content">
      Internetiquette is a weekend project done by Charles and Magnus at HQ, Brooklyn and is inspired by the idea that the internet needn't bring out the worst in all of us.
    </div>
  </dd>
<!--   <dt class="press">
    <h2><a name="press">Press</a></h2>
  </dt>
  <dd class="press">
    <div>
      <p>
        Suspendisse non commodo elit, a convallis libero. Nam porta, justo et convallis sagittis, arcu ante porttitor mauris, nec feugiat mi orci elementum
      </p>
      <div>- Jesse Lochrie</div>
    </div>
  </dd> -->
</dl>