<div id="wrapper">
<div id="header">
  <ul id="navigation">
    <li><%= link_to "Try It Out", "#try-it-out" %></li>
    <li><%= link_to "How It works", "#how-it-works" %></li>
    <li><%= link_to "Contribute", "#contribute" %></li>
    <li><%= link_to "Submissions", "#submissions" %></li>
    <li><%= link_to "About", "#about" %></li>
<!--     <li><%= link_to "Press", "#press" %></li> -->
  </ul>
  <div style="clear:both"></div>
  <div id="title-area">
    <%= link_to "install plugin", "javascript:void(0)", :id => "install-plugin" %>
    <div id="title"><span class="red-dotted-underline">Internetiquette</span></div>
    <div id="tagline">Making the internet more polite, one line at a time.</div>
  </div>
  <div style="clear:both"></div>
</div>
<div id="body">
  <div class="row try-it-out">
    <div class="caption">
      <h2><a name="try-it-out">Try It Out:</a></h2>
    </div>
    <div class="other">
      <%= form_tag try_it_path, :id => 'try_it_form' do |f| %>
        <%= text_field_tag :try_it_url, nil, :placeholder => "Enter URL for the rudest site you can think of" %>
        <%= hidden_field_tag :back_to, request.fullpath %>
        <%= link_to "Clean it up", "javascript:void(0)", :class => "submit", :onclick => '$("form#try_it_form").submit()' %>
        <%#= f.submit "Submit", :class => "submit" %>
      <% end %>
    </div>
  </div>
  <div class="row how-it-works">
    <div class="step intro">
      <div class="step-header">
        <a name="how-it-works">How It works:</a>
      </div>
      <div class="step-body">
        Internetiquette is a browser plugin that converts internet rudeness to into polite statements.<br/> Crowd-sourced submissions.
      </div>
    </div>
    <div class="step">
      <div class="step-header">Enable Extension</div>
      <div class="step-body">
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
    </div>
    <div class="step">
      <div class="step-header visit-any-site">Visit any site</div>
      <div class="step-body">
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
    </div>
    <div class="step">
      <div class="step-header">Marvel at Politeness</div>
      <div class="step-body">
        <%= image_tag 'circlePlaceholder.png' %>
      </div>
    </div>

  </div>
  <div class="row contribute">
    <div class="caption">
      <h2><a name="contribute">Contribute:</a></h2>
    </div>
    <div class="other">
      <%= form_for @mapping do |f| %>
        <%= f.text_field :bad_phrase, :placeholder => "Rude Phrase" %>
        <%= f.text_field :good_phrase, :placeholder => "Polite Phrase" %>
        <%= hidden_field_tag :back_to, request.fullpath %>
        <%= link_to "submit", "javascript:void(0)", :class => "submit", :onclick => '$("form#new_mapping").submit()' %>
        <%#= f.submit "Submit", :class => "submit" %>
      <% end %>
    </div>
  </div>
  <div class="row submissions">
    <div class="caption">
      <h2><a name="submissions">Submissions:</a></h2>
      <%= @mappings.count %> and counting
    </div>
    <div class="other">
      <dl id="submissions_list">
        <% @mappings.each do |mapping| %>
          <dt><%= obfuscate mapping.bad_phrase.value %></dt>
          <dd><%= mapping.good_phrase.value %></dd>
        <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
<div id="buffer"></div>
<div id="footer-frame">
  <div id="footer-wrapper">
    <div id="footer-body">
      <div class="row about">
        <div class="caption">
          <h2><a name="about">About<br/>The Project</a></h2>
        </div>
        <div class="other">
          <div class="content">
            Internetiquette is a weekend project done by <%= link_to "Charles", "https://twitter.com/rkjiii" %> and Magnus at HQ, Brooklyn and is inspired by the idea that the internet needn't bring out the worst in all of us.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="row press">
   <div class="press">
    <h2><a name="press">Press</a></h2>
  </div>
  <div class="press">
    <div>
      <p>
        Suspendisse non commodo elit, a convallis libero. Nam porta, justo et convallis sagittis, arcu ante porttitor mauris, nec feugiat mi orci elementum
      </p>
      <div>- Jesse Lochrie</div>
    </div>
  </div> </div>-->