<%= form_for @mapping do |f| %>

  <div>
    <%= f.label :bad_phrase, 'Bad Phrase' %>
    <%= f.text_field :bad_phrase %>
  </div>

  <div>
    <%= f.label :good_phrase, 'Good Phrase' %>
    <%= f.text_field :good_phrase %>
  </div>
  <%= f.submit %>
<% end %>
