<!DOCTYPE html>
<html>
<head>
  <title>Internetiquette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>ADMIN</h1>
  <ul>admin menu
    <li><%= link_to 'good phrases', admin_good_phrases_path %></li>
    <li><%= link_to 'bad phrases', admin_bad_phrases_path %></li>
    <li><%= link_to 'mappings', admin_mappings_path %></li>
  </ul>

  <%= render :partial => '/layouts/flash' %>
  <%= yield %>

</body>
</html>
