<!DOCTYPE html>
<html>
<head>
  <title>Internetiquette</title>
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script>
    /* Run any additional JS provided by the template */
    <%= yield :js %>
  </script>
</head>
<body id="<%= controller.controller_name.singularize %>">
  
  <%= render :partial => '/layouts/navigation' unless ['home', 'try_it'].include? controller.controller_name.singularize %>
  <%= render :partial => '/layouts/flash' %>
  <%= yield %>

</body>
</html>
