<!DOCTYPE html>
<html>
<head>
  <title>Internetiquette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <ul>
    <li><%= link_to 'admin', '/admin' %></li>
    <li><%= link_to 'new mapping', new_mapping_path %></li>
    <li><%= link_to 'new bad phrases', new_bad_phrase_path %></li>
    <li><%= link_to 'suggestions', polite_suggestions_path %></li>
  </ul>

  <%= render :partial => '/layouts/flash' %>
  <%= yield %>

</body>
</html>
